.gallery {
    max-width: 1000px;
    display: grid;
    margin:auto;
    grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
    grid-gap: 15px;
    padding-top: 3%; 
}
body{
    text-align: center;
}
input{
    padding: 15px;
    width: 55%;
    margin:auto;
    margin-top: 2%;
    border-radius: 10px;
}